* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.comment {
    float: left;
    display: inline-block;
}

img {
    position: relative;
    margin-top: 5px;
}

.textbox {
    position: absolute;
    top: 20px;
    left: 90px;
    margin: 0 auto;
    width: 400px; 
    height: 40px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 2px -2px rgba(0,0,0,0.75);
    margin-bottom: 100px; 
    padding: 5px;
    opacity: 0.4;

}