* {
    margin: 0;
    padding: 0;
}


.div1 {
    background-color: rgb(108, 159, 223);
    background-color: rgba(108, 159, 223, 0.4);
    opacity: 0.4;     
    background: rgba(147,206,222,1);
    background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(76,168,193,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(76,168,193,1)));
    background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(76,168,193,1) 100%);
    background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(76,168,193,1) 100%);
    background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(76,168,193,1) 100%);
    background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(76,168,193,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#4ca8c1', GradientType=0 );
    
    
}

.div2 {
    background: white url("../images/P4230134.jpg") center / cover no-repeat;
    height: 300px;
    width: 100%;
    opacity: 1;
    margin-top: 20px;
}


.div3 {
    height: 200px;
    width: 100%;
    background: url("../images/543.jpg") no-repeat;
    margin-top: 10px;
    background-position: center;
}