@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



div {
    width: 500px;
}

h1 {
    background-color: #ACC4CE;
    color: white;
    font: 20px;
    text-shadow: #878787;
    }

span {
    color: #395075;
    letter-spacing: 10px;
    
}

p {
    color: grey;
    font-size: 14px;
    line-height: 20px;
    text-indent: 20px;
}

